body {
    background-color: brown;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: yellow;
}